body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.time-format-buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

.clock {
    margin-bottom: 20px;
}

.time {
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}

.exit-button {
    background-color: #ff4742; /* Exit button color */
}

.exit-button:hover {
    background-color: #ff3b36; /* Darker shade on hover */
}